/* Background class */


/* body class */
.bg {
    font-family:verdana;
    color:#aaaaaa;
}

@media screen and (min-width: 600px) {
    body {
        padding: 3em;
    }
}
/* Footer class */
.footfr {
    display: flex;
    margin: 0px;
}

.footcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 30%;
    text-align: center;
    background-color: #333
;
}

/* Text Class */

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.text {
    max-width: 60%;
    margin: 0 auto;
    padding: 10px
}
        
p {
    color: white
}

/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

a {
    color: aqua;
}

a:hover { 
    color: #B79A00
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* heading styles */
.hdo {
    background-color: #000000;
    padding: 15px;
    text-align: center;
}

/* containers and divs */

.main {
    margin: 0 auto;
    box-sizing: border-box
}

.row {
    margin: 0 -5px;
}

.thirdrow {
    display: flex;
    margin: 0;
    box-sizing: inherit;
    flex-wrap: wrap;
 /*   padding: 10px 5px; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 33%;
    margin: 10px;
    padding: 16px;
    text-align: center;
    background-color: #333;
    box-sizing: inherit;
}

.fullrow {
    flex: 100%;
    height: auto;
    padding: 10px 10px;
    box-sizing: inherit
}

/* image style */
.img {
    max-width: 45%;
    height: auto;
    padding: 10px 10px;
    box-sizing: inherit
}




/*flex box media queery */

