/* COLOURS */


/* the colours for your website */


/* delete what you don't need */


/* use swatch 1 for your most important colour, swatch 2 for the next, and so on */

.swatch-1 {
    background: #333;
}

.swatch-2 {
    background: #000000;
}

.swatch-3 {
    background: #B79A00;
}

.swatch-4 {
    background: #00FFFF;
}

.swatch-5 {
    background: #C0C0C0;
}

.swatch-6 {
    background: #FF0000;
}

.swatch-7 {
    background: #FFA500;
}

.swatch-8 {
    background: #87CEEB;
}

.swatch-9 {
    background: #90EE90;
}

.swatch-10 {
    background: #ADFF2F;
}



/* TYPOGRAPHY
/* the typography for your website */


/* delete the ones you don't need */

.type-1 {
    font-family: verdana, arial;
    /* google font: make sure there are fallbacks */
}

.type-2 {
    font-family: raleway;
    /* you might also choose a 'web safe' font */
}


/* TEMPLATES/CODE SNIPPETS */


/* an example of the extra code you could add - this creates some buttons */

a.button {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 1em;
    border-radius: 0.2em;
    transition: all 0.2s ease;
}

a.button.important {
    font-size: 1.2em;
    background: #333;
    color: white;
    padding: 15px 30px;
}

a.button.normal {
    background: #333;
    color: aqua;
}

a.button:hover {
    color: #B79A00;
}

a.button.important:hover {
    color: #B79A00;
}